body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
    color: #333;
    padding: 20px 0;
    margin-bottom: 10px;
}
#movies-container {
    display: flex;
    justify-content: center;
align-items: center;
    gap: 20px;
    padding: 20px;
   
    max-width: 1200px;
   
    margin: 0 auto;
}
.movie-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s, box-shadow 0.2s;
    text-align: center;
    width: 200px;
}
.movie-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}
.movie-poster {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.movie-title {
    font-size: 20px;
    font-weight: 600;
    color: #333;
    padding: 15px 10px;
}
.movie-details {
    font-size: 14px;
    color: #777;
    margin-bottom: 10px;
}
.movie-year, .movie-runtime {
    display: block;
    padding: 0 10px;
    color: #555;
}
.error-message {
    text-align: center;
    color: red;
    font-size: 18px;
    font-weight: bold;
}
/* Media queries for responsiveness */
@media (max-width: 600px) {
    .movie-card {
        margin-bottom: 20px;
    }
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
     width: 100%;
}
input{
    width: 50%;
    height: 40px;
    border-radius: 10px;
    border: none;
    padding: 0 10px;
    font-size: 16px;
}

#search-button{
    height: 40px;
    width: 80px;
    border-radius: 10px;
    border: none;
    background-color: #333;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
}